<h1>Dostępne strony</h1>

<table>
  <tr>
    <th>Tytuł</th>
    <th>Nad-strona</th>
  </tr>

<% @pages.each do |page| %>
  <tr>
    <td><%= page.title %></td>
    <td><%= page.parent.try(:title) %></td>
  </tr>
<% end %>
</table>
